{{! Sidebar items }}

<div class="row sidebar"> 
	<div class="small-12 columns">
		<h4>About Armory Guide</h4> 
		<p>Helping new and intermediate users secure their Bitcoins!</p>
	</div>
</div>

<div class="row sidebar"> 
	<div class="small-12 columns">
	<h4>Getting Started</h4> 
		<ul>
			<li><a href="/">Welcome to Armory Guide</a></li>
			<li><a href="/step-1-installing-bitcoin-qt/">Installing Bitcoin-Qt</a></li>
			<li><a href="/step-2-installing-bitcoin-armory/">Installing Bitcoin Armory</a></li>
			<li><a href="/setting-up-a-test-wallet/">Setting up a Test Wallet</a></li>
			<li><a href="/receiving-bitcoin/">Receiving Bitcoin</a></li>
			<li><a href="/restoring-test-wallet/">Restoring Test Wallet</a></li>
			<li><a href="/sending-bitcoin/">Sending Bitcoin</a></li>
		</ul>
	</div>
</div>

<div class="row sidebar"> 
	<div class="small-12 columns">
	<h4>Cold Storage</h4> 
		<ul>
			<li><a href="/installing-offline-armory/">Installing Offline Armory</a></li>
			<li><a href="/setting-up-an-offline-wallet/">Setting Up an Offline Wallet</a></li>
			<li><a href="/watching-only-wallets/">Watching-only Wallets</a></li>
			<li><a href="/offline-transactions/">Offline Transactions</a></li>
		</ul>
	</div>
</div>

<div class="row sidebar"> 
	<div class="small-12 columns">
	<h4>Help</h4> 
		<ul>
			<li><a href="http://armoryguide.com/bootstrapping-the-blockchain/">Blockchain Synchronisation</a></li>
			<li><a href="http://armoryguide.com/bootstrapping-the-blockchain/">Slow BlockhainUpdates</a></li>
			<li><a href="http://armoryguide.com/troubleshooting-faq/#offline">Stays in Offline Mode</a></li>
			<li><a href="http://armoryguide.com/troubleshooting-faq/#nosend">Cannot Send or Receive</a></li>
			<li><a href="http://armoryguide.com/troubleshooting-faq/#timeerror">Time and Date Error</a></li>
		</ul>
	</div>
</div>


<div class="row sidebar"> 
	<div class="small-12 columns">
		<h4>Donate</h4> 
		<p>Donations help keep our guides updated and bring you more content.</p>
		<style type="text/css" src="http://coinwidget.com/widget/coin.css"></style>
		<script src="http://coinwidget.com/widget/coin.js"></script>
		<script>
		CoinWidgetCom.go({
			wallet_address: "1HCH2KCZW4oWJ6VaTwGK5kFZxU1baKjdZY"
			, currency: "bitcoin"
			, counter: "count"
			, alignment: "bl"
			, qrcode: true
			, auto_show: false
			, lbl_button: "Donate"
			, lbl_address: "My Bitcoin Address:"
			, lbl_count: "donations"
			, lbl_amount: "BTC"
		});
		</script>
		<h5>Thanks for your support!</h5>
	</div>
</div>


